:root {
    --primaryCyan: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --warning: hsl(20, 77%, 49%);





}




* {
    box-sizing: border-box;
    
    
}

body {
   
    max-width: 375px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--lightGrayishCyan);
    
}

header {
    text-align: center;
    color: var(--darkGrayishCyan);
    letter-spacing: .75rem;
    margin: 2rem;
    line-height: 1.5;
}



h1, h2, .proportion {
   color: var(--darkGrayishCyan); 
   
}

h2, .proportion {
    font-size: 1rem;
    /* padding: .5rem 0; */
    margin: 1.5rem 0 .75rem 0;
}

/* Test for children formatting... */
/* #selectTipPercent > label {
    font-size:.75rem;
} */
h3 {
    font-size: 1rem;
}



form {
    padding: 1.75rem;
    background-color: var(--white);
    border-radius: 1.5vh 1.5vh 0 0;
    margin-bottom: 2rem;
    
    
}


input {
    display:block;
    background-color: var(--veryLightGrayishCyan);
    color: var(--veryDarkCyan);
    font-weight: 700;
    width: 100%;
    text-align: right;
    border:none;
    padding: .75rem 0;
    font-size: inherit;
    margin-right: 2rem;
    cursor:pointer;
    outline:none;    
}

.labelIcon:hover, .labelIcon:focus-within {
    outline: 2px solid var(--primaryCyan);
}





#selectTipPercent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
    
    gap: 15px;

    

}

#selectTipPercent input[type="radio"] {
   
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

 #selectTipPercent label {
    
    background-color: var(--veryDarkCyan);
    color: var(--white);
    padding: 1vh;
    border-radius: .5vh;
    text-align: center;
    display: block;
    height: 5vh;
    
    
    
}

 #selectTipPercent .customPerc label {
     background-color: var(--veryLightGrayishCyan);
     color: var(--darkGrayishCyan); 
 }


.howMuch {
    grid-column: 1/3;
    grid-row: 1;

}

.fivePerc {
   grid-column: 1 / 2; 
   grid-row: 2;   
}

.tenPerc {
   grid-column: 2 / 3; 
   
    grid-row: 2;
}

.fifteenPerc {
   grid-column: 1 / 2; 
  
    grid-row: 3;
}

.twentyfivePerc {
   grid-column: 2 / 3; 
   
    grid-row: 3;
}

.fiftyPerc {
   grid-column: 1 / 2; 
    
    grid-row: 4;
}
.customPerc {
    grid-column: 2 / 3; 
    
    grid-row: 4;
}




#selectTipPercent input[type="radio"]:checked + label {
    background-color: var(--primaryCyan);
}

/* #selectTipPercent input[type="radio"]:focus + label {
    background-color: var(--primaryCyan);
} */

/* #selectTipPercent label:hover {
    background-color: var(--primaryCyan);
}  */

#customPercentLabel {
    position: relative;
}

#customEntry {
    position: absolute;
    top: 0;
  right: 0;
  left: 0;
  padding: 1vh;
    border-radius: .5vh;
    text-align: right;
   outline: 2px solid var(--primaryCyan);
    height: 5vh;
    font-family: inherit;
}

.labelIcon {
  display: flex; 
  background-color: var(--veryLightGrayishCyan); 
  border-radius: 1.25vh;
  padding-left:1rem;
  
}



.sourceIcon {
    height: 100%;

    align-self: center;
}
.calcTopLabel {
    color: var(--white);        
}

#noZero {
    display: flex;
    justify-content: space-between;
   

}

#inputWarning {
    font-size: 1rem;
    padding: 0;
    color: var(--warning);
    display: none;
    
}




#calculatedResult {
    background-color: var(--veryDarkCyan);
    border-radius: 1.25vh;
    padding: 1rem 1.25rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
       
}

#tipCalc, #totalCalc, .dollar {
    background: transparent;
    color: var(--primaryCyan);
}

.one, .three {
    grid-column: 1 / 2;
    
    margin-top: 1rem;
}

.two, .four {
    grid-column: 2 / 3;
    text-align: right;
    margin-top: 1rem;
    
}


/* 
.three {
    grid-column: 1 / 2;
   
    margin-top: 1rem;
} */

/* .four {
    grid-column: 2 / 3;
    
    outline: 2px peru solid;
    margin-top: 1rem;
} */

.five {
    grid-column: 1 / 3;
    /* grid-row:5; */
    margin: 1rem 0;
    
}



#resetButton {
    width: 100%;
    background-color: var(--primaryCyan);
    color: var(--veryDarkCyan);
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 1vh;
    border-color: var(--primaryCyan);
    padding: .5rem;
    z-index: 10;
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

.hide{
  display:none;
  
  /* opacity: 0; */
  
}
.show{
  display:block;
  
  /* margin: -50px 0; */
  z-index:10;
  
 
}

#inputWarning.visible {
    display: block;

}

#peopleLabel.visible {
    outline: 2px solid var(--warning);
}


/* #peopleCount.invalid {
    border-color: red;
} */

   
